<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmsBMSReports.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="DBConStr" connectionString="Driver={ODBC Driver 17 for SQL Server};Server=localhost;Port=5433;Database=Mactus_EMSReports_10;UID=Mactus;PWD=Mactus@123" />-->
	  <add name="DBConStr" connectionString="Driver={SQL Server};Server=localhost;Database=Maiva_Line5_EMS;UID=Mactus;PWD=Mactus@123" />
    <!--<add name="DBConStr" connectionString="Driver={PostgreSQL ANSI};Server=localhost;Port=5432;Database=WireCDUConfig;UID=Mactus;PWD=Mactus@123" />-->
	  <add name="IsBMS" connectionString="1" />
    <add name="IsGMTTime" connectionString="1" />
    <add name="EnableConfiguration" connectionString="1" />
    <add name="GenerateChart" connectionString="0" />
  </connectionStrings>
<userSettings>
        <EmsBMSReports.My.MySettings>
                <setting name="StartDate" serializeAs="String">
                        <value>11/22/2023 21:37:53</value>
                </setting>
                <setting name="StartTime" serializeAs="String">
                        <value>11/22/2023 21:00:13</value>
                </setting>
                <setting name="EndDate" serializeAs="String">
                        <value>11/22/2023 20:59:38</value>
                </setting>
                <setting name="EndTime" serializeAs="String">
                        <value>11/22/2023 21:00:13</value>
                </setting>
			    <setting name="Precision" serializeAs="String">
				    <value>-1</value>
			    </setting>
			    <setting name="Tolerance" serializeAs="String">
				    <value>0</value>
			    </setting>
			    <setting name="IncludeEvents" serializeAs="String">
				    <value>0</value>
			    </setting>
		</EmsBMSReports.My.MySettings>
    </userSettings>
</configuration>