<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!--<add name="DBConStr" connectionString="Driver={ODBC Driver 17 for SQL Server};Server=localhost;Port=5433;Database=Mactus_EMSReports_10;UID=Mactus;PWD=Mactus@123" />-->
		<!--<add name="DBConStr" connectionString="Driver={SQL Server Native Client 11.0};Server=localhost;Port=5433;Database=Mactus_EMSReports_10;UID=Mactus;PWD=Mactus@123" />-->
		<add name="DBConStr" connectionString="Driver={PostgreSQL ANSI};Server=localhost;Port=5432;Database=WireCDUConfig;UID=Mactus;PWD=Mactus@123" />
		<add name="IsBMS" connectionString="2" />
		<add name="IsGMTTime" connectionString="1" />
		<add name="EnableConfiguration" connectionString="1" />
		<add name="GenerateChart" connectionString="0" />
	</connectionStrings>
</configuration>