<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DBConStr" connectionString="Driver={PostgreSQL ODBC Driver(ANSI)} ;Server=localhost;Port=5433;Database=mactus_emsreports_10;UID=Mactus;PWD=Mactus@123;" />
    <add name="DBConStr1" connectionString="DSN=EBOReportDSN" />
  </connectionStrings>
</configuration>