<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DBConStr" connectionString="Driver={SQL Server};Server=localhost\SQLEXPRESS;Database=Mactus_MaivaEMSConfiguration;UID=Mactus;PWD=Mactus@123"/>
    <add name="IsBMS" connectionString="2" />
    <add name="IsGMTTime" connectionString="1" />
    <add name="EnableConfiguration" connectionString="1" />
    <add name="GenerateChart" connectionString="1" />
  </connectionStrings>
</configuration>
